.env
venv/
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store

# Data
data/*.txt
data/*.csv
!data/avionics_sample.csv

# dbt
dbt/avionics_dbt/target/
dbt/avionics_dbt/dbt_packages/
dbt/avionics_dbt/logs/

*.log
.ipynb_checkpoints/
mlruns/